*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
}
nav h3{
    display: flex;
    justify-content: space-around;
}
nav h3 a:hover{
 color: red;
}
nav h3 a{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: black;
}
body{
    background-color: gray;
}