*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d0907;
}
nav h3{
    display: flex;
    justify-content: space-around;
}
nav h3 a:hover{
 color: #593722;
}
nav h3 a{
    color: #556b2f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #96bf73;
}
body{
    background-color: #593722;
}
img{
    border: 6px solid #556b2f;
    border-radius: 12px;
   

    
}
main h4{
    color:#556b2f;
}
main h1{
    color: #96bf73;
    display: flex;
    justify-content: space-around;
    background-color: #556b2f;
}
footer{
    background-color: #96bf73;
    color: #593722;
    padding: 40px 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


